<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="map" src="{{ "/assets/img/twitdata.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> TwitData </h3>

    <p>TwitData é um simples aplicativo web que geolocaliza tweets em um mapa - permitindo buscas por usuário, hashtag ou trending topic. É uma maneira rápida de descobrir sobre o que estão falando em algum lugar, ou onde estão falando de algo.</p>
    <a class="project-link" href="https://twit-data.herokuapp.com/">Visitar</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="youtube-data" src="{{ "/assets/img/ytd.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> YouTube Data </h3>

    <p>O YouTube Data é uma ferramenta web que faz simples coletas e visualizações de dados atravéas da API do YouTube, mostrando os videos mais recomendados para um tópico específico. Também possui uma função de análise de redes sem a necessidade de download dos dados.</p>
    <a class="project-link" href="https://youtubedataapp.herokuapp.com/">Visitar</a>
  </div>
</div>
