<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <!-- <br> -->
        <br>
        <span class="site-description">I'm a Media Researcher and Programmer</span>

      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:danielfx19@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/daniel-loiola/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/danielfeloiola"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>

      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a>-->

        <a class="link" rel="alternate" href="https://danielfeloiola.github.io/" hreflang="pt">Português</a> /
        <a class="link" rel="alternate" href="https://danielfeloiola.github.io/en" hreflang="en">English</a>
      </div>
  </div>
  <!--<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>-->
</div>
