<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="map" src="/assets/img/twitdata.jpg" />
  </div>
  <div class="contents">
    <h3> TwitData </h3>

    <p>TwitData is a simple web application that geolocates tweets on a map - wether you search by user, hashtag or trending topics. It’s a simple and fast way to find out what user are talking about somewhere - or where they are talking about something.</p>
    <a class="project-link" href="https://twit-data.herokuapp.com/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="youtube-data" src="/assets/img/ytd.jpg" />
  </div>
  <div class="contents-right">
    <h3> YouTube Data </h3>

    <p>YouTube Data is a web application to make simple data collections as visualizations via the YouTube API, showing what videos are more recommended for a specific search query. It also has a networks analisys function that don't require downloading the data.</p>
    <a class="project-link" href="https://ytd-cloud.herokuapp.com/">Check it out</a>
  </div>
</div>
